@import url('https://fonts.googleapis.com/css?family=Yantramanav:200');
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:200');

* {

}

body {
	font-size: 15px;
}

header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: white;
  box-shadow: 0 .8px 5px #888888;
}

label {
	display: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}  

nav {
	text-align: center;
	padding: 20px;
}

section {
	margin-top: 60px;
}

footer {
	box-shadow: 0 -.8px 5px #888888;
}

span {
	float: right;
}

a {	
	text-decoration: none;
	color: black;
}

h1 {
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 4em;
	padding: 30px;
}

h2 {
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
}

h3 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 2em;
}	

h4 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 1.7em;
}	

h5 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 2.5em;
}

h6 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 2em;
}	

hr {
	width: 50%;
}

iframe {
	width: 95%;
	height: 540px;
/*	border-radius: 270px 270px 270px 270px;*/
}

#headerlogo
{
	display: block;
	margin: 0 20px;
	position: fixed;
}

.hr_topspace
{
	margin-top: 40px;
}

.hr_bottomspace
{
	margin-bottom: 40px;
}

.phospacer
{
	margin: 10px;
}

.mobile_toggle {
	display: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

.line {
	width: 20px;
	height: 3px;
	background: #666;
	margin: 2px 0;
}

.container {
  width: 100%;
}

.clearfix:after{
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.local	{
	text-align: center;
	margin: 2.5% 0;
	padding: 3%;
	/*background-color: #a7b3bf;*/
}

.navlinks {
	text-align: center;	
	list-style-type: none;
	color: #333;
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	margin: 4.3% 1.8%;
	font-size: 1.2em;

	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 02s;
	transition: 0.2s; 
}
.navlinks:hover {
	color: #999;
}
.nodesktop {
	display: none;
}

.menu {
	width: 40%;
	margin: auto;
}

.menu div {
	padding: 10px;
}

.fa-circle {
	display: inline-block;
	padding-top: 13px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.socmed {
	width: 30%;
}

.menuhead {
	width: 60%;
	margin: auto;
}

.menuhead img {
	width: 100%;
	display: inline-block;
}

.menuhead h2 {
	width: 20%;
	margin: auto;
}

.outerbox {
	border: 5px solid black;
	width: 30%;
	margin: 40px auto;
}

.innerbox {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.colorfoot {
	background-color: #a7b3bf;
}

.wood {
	background: url(../images/woodlong.jpg);
	background-size: cover;	
	background-repeat: no-repeat;
}

.telelink {
	text-decoration: none;
	color: #555;
}

.instafeed {
/*	width: 15%;
    margin: 2%;
    float: left;*/
}

.instafeed a {
	margin: auto;
}

.instafeed a img {
	width: 25%;
	padding: 0 1%;
}

.footinfo {
	text-align: center;
	text-transform: uppercase;
}

.coll {
	display: block;
	width: 17%;
	vertical-align: middle;
	margin: 1%;
	float: left;
}

.collr {
	display: block;
	float: right;
	width: 25%;
	margin: 1%;
}

#toggle {
	display: none;
}

#foodpics {
	width: 60%;
	margin: auto;
	background-color: #a7b3bf;
}

#foodpics img {
	width: 22%;
	display: inline-block;
	padding: 1.2%;
}

/*.menu {
	background: url(../images/woodbkg.jpg);
	background-size: cover;
}*/

#foodpics h1 {
	text-transform: uppercase;
	padding: 4% 10% 0;
	font-size: 5em;
	float: right;
}

#beerpics {
	width: 60%;
	margin: 15px auto;
	background-color: #a7b3bf;
}

#beerpics h1 {
	text-transform: uppercase;
	padding: 4% 10% 0;
	font-size: 5em;
	float: left;
}

#beerpics img {
	float: right;
	width: 24%;
	display: inline-block;
	padding: 1.2%
}

#locallogo {
    width: 46%;
    display: inline-block;
    margin: 2% 0;
    text-align: left;
    border-left: thin solid #000000;
}

#topspace {
	padding: 5%;
}

#bwgc {
	background: url(../images/bwgc.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
}

#locallogo img {
	width: 70%;
	margin: 5% 0 8% 5%;
}

#whiteop {
	background-color: rgba(255, 255, 255, .5);
	width: 80%;
	margin: -77px auto;
}

#localmap {
    width: 48%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-top: 4.5%;
    padding-right: 2%;
    padding-bottom: 4%;
}
#logo {
	width: 35%;
	margin: auto;
	padding: 40px;
}

#logo img {
	width: 100%;
}

#drinkmenu {
	background: url(../images/drink1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 60%;
	margin: 5px auto 20px;
	height: 850px;
}

#drinkmenu div {
	color: white;
    padding: 3.5%;
}

#center {
	margin: auto;
	text-align: center;
}

@media only screen and (max-width: 2350px) {
	iframe {
		height: 500px;
	}
}

@media only screen and (max-width: 2350px) {
	iframe {
		height: 450px;
	}
}

@media only screen and (max-width: 2200px) {
	#whiteop {
		margin: -20px auto;
	}
}

@media only screen and (max-width: 2000px) {
	.footinfo {
		font-size: .8em;
	}
	iframe {
		height: 400px;
	}	
}

@media only screen and (max-width: 1900px) {
	#whiteop{
		margin: 20px auto;
	}
}

@media only screen and (max-width: 1750px) {
	#smltxt {
		font-size: .8em;
	}
}

@media only screen and (max-width: 1650px) {
	iframe {
		height: 350px;
	}
}

@media only screen and (max-width: 1550px) {
	.menu {
		width: 55%;
	}
	.outerbox {
		width: 35%;
	}
	#smltxt {
		font-size: .6em;
	}
	#whiteop {
		width: 90%;
	}
}

@media only screen and (max-width: 1350px) {
	iframe {
		height: 300px;
	}
	.menu {
		width: 60%;
	}
	.menuhead {
		width: 60%;
	}
	.outerbox {
		width: 40%;
	}
	.footinfo {
		font-size: .6em;
	}	
	#drinkmenu {
		width: 80%;
	}
	#foodpics {
		width: 80%;
	}
	#foodpics h1 {
		padding: 4% 4% 0;
	}
	#beerpics {
		width: 80%;
	}
	#bwgc {
		height: 600px;
	}
}

@media only screen and (max-width: 1200px) {
	.local h5 {
		font-size: 1.8em;
	}
	.local h6 {
		font-size: 1.5em;
	}
	.outerbox {
		width: 60%;
	}
	#smltxt {
		font-size: .5em;
	}
}

@media only screen and (max-width: 1000px) {
	.hr_bottomspace {
		margin-bottom: 10px;
	}
	#bwgc {
		height: 500px;
	}
}

@media only screen and (max-width: 900px) {
	body {
		font-size: 13px;
	}
	label {
		display: block;
		float:right;
		padding: 15px;
	}
	nav{
		display: none;
		position: static;
		clear:both;
		background-image: none;
	}
	section {
		margin-top: 47px;
	}
	hr {
		width: 85%;
	}
	.navlinks {
		display: block;	
	}
	.container {
		background-image: none;
    	/*margin-top: 23%;*/
   	 	background-color: #fff;
	}
	.collr {
		margin: 3.5%;
	}
	.nodesktop {
		display: block;
	}
	.wood {
		background: url(../images/woodmobile.jpg);
		background-size: cover;	
		background-repeat: no-repeat;
	}
	.menu {
		width: 80%;
	}
	.menuhead {
		width: 80%;
	}
	.local h5 {
		width: 100%;
		margin: 20px auto;
	}
	.outerbox {
		width: 60%;
	}
	.coll {
		margin: 2%;
		width: 35%;
	}
	.instafeed iframe {
		height: auto;
	}
	.right {
		float: none;
	}
	#foodpics {
		width: 90%;
	}
	#beerpics {
		width: 90%;
	}
	#drinkmenu {
		width: 90%
	}
	#foodpics h1 {
		font-size: 4em;
	}
	#beerpics h1 {
		font-size: 4em;
	}
	#logo {
		padding: 80px;
	}
	#toggle:checked + .container nav {	
		display: block;
	}
	.mobile_toggle {
		display: block;
	}
	#headerlogo	{
		position: relative;
		height: 40px;
		margin: 3px 20px;
	}
	#locallogo {
	    display: block;
	    width: 70%;
	    margin: 0 auto;
	    border-left: none;
	    border-top: thin solid #000000;
	    text-align: center;
	}
	#localmap {
		display: block;
		width: 100%;
		text-align: center;
	}
	#localmap iframe {
		width: 80%;
	}
	#map {
		text-align: center;
	}
	#nomobile {
		display: none;
	}
	#bwgc {
		height: 850px;
	}
}

@media only screen and (max-width: 700px) {
	.menu {
		width: 90%;
	}
	.menu h4 {
		width: 85%;
	}
	#bwgc {
		height: 750px;
	}
}

@media only screen and (max-width: 600px) {
	#foodpics h1 {
		font-size:3em;
	}
	#beerpics h1 {
		font-size: 3em;
	}
	#bwgc {
		height: 700px;
	}
}

@media only screen and (max-width: 500px) {
	.collr {
		width: 50%;
	}
	.instafeed a img {
		width: 30%;
	}
	.coll {
		margin: 3%;
		width: 37%;
	}
	#bwgc {
		height: 650px;
	}
}

@media only screen and (max-width: 450px) {
	body {
		font-size: 12px;
	}
	.menuhead {
		width: 90%;
	}
	.outerbox {
		width: 90%;
	}
	#logo {
		padding: 100px 0;
		width: 65%;
	}
	#foodpics {
		width: 100%;
	}
	#middle {
		text-align: center;
	}
}

@media only screen and (max-width: 400px) {
	.coll {
		width: 100%;
		margin: auto;
	}
	.instafeed a img {
		width: 13%;
	}
	.collr {
		width: 100%;
		margin: 3.5% 0;
	}
	.phospacer {
		font-size: 2.5em;
	}
	#foodpics  img {
		width: 20%;
	}
	#contactem h4 {
		font-size: 1.4em;
	}
	#bwgc {
		height: 600px;
	}
}

@media only screen and (max-width: 300px) {
	#smltxt {
		font-size: .4em;
	}
	#smltxt h1	{
		padding: 10px;
	}
}