@import url('https://fonts.googleapis.com/css?family=Yantramanav:200');
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:200');

* {

}

body {
	font-size: 15px;
}

header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: white;
  box-shadow: 0 .8px 5px #888888;
}

label {
	display: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}  

nav {
	text-align: center;
	padding: 20px;
}

section {
	margin-top: 60px;
}

footer {

}

span {
	float: right;
}

a {

}

h1 {
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 4em;
	padding: 30px;
}

h2 {
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
}

h3 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 2em;
}	

h4 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 1.7em;
}	

h5 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 2.5em;
}	

hr {
	width: 50%;
}

#headerlogo
{
	display: block;
	margin: 0 20px;
	position: fixed;
}

.hr_topspace
{
	margin-top: 40px;
}

.hr_bottomspace
{
	margin-bottom: 40px;
}

.phospacer
{
	margin: 10px;
}

.mobile_toggle {
	display: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

.line {
	width: 20px;
	height: 3px;
	background: #666;
	margin: 2px 0;
}

.container {
  width: 100%;
}

.clearfix:after{
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.local	{
	text-align: center;
	margin: 2.5% 0;
	padding: 3%;
	/*background-color: #a7b3bf;*/
}

.navlinks {
	text-align: center;	
	list-style-type: none;
	color: #333;
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	margin: 4.3% 1.8%;
	font-size: 1.2em;

	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 02s;
	transition: 0.2s; 
}
.navlinks:hover {
	color: #999;
}
.nodesktop {
	display: none;
}

.menu {
	width: 40%;
	margin: auto;
}

.menu div {
	padding: 10px;
}

.fa-circle {
	display: inline-block;
	padding-top: 13px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.menuhead {
	width: 60%;
	margin: auto;
}

.menuhead img {
	width: 100%;
	display: inline-block;
}

.menuhead h2 {
	width: 20%;
	margin: auto;
}

.outerbox {
	border: 5px solid black;
	width: 30%;
	margin: 40px auto;
}

.innerbox {
	border: 1px solid black;
	margin: 10px;
	text-align: center;
}

.colorfoot {
	background-color: #a7b3bf;
}

.wood {
	background: url(../images/woodlong.jpg);
	background-size: cover;	
	background-repeat: no-repeat;
}

.telelink {
	text-decoration: none;
	color: #555;
}

.instafeed {
	width: 35%;
	margin: auto;
}

.instafeed a {
	margin: auto;
}

.instafeed a img {
	width: 25%;
	margin: auto;
}

.footinfo {
	text-align: center;
	text-transform: uppercase;
}

.coll {
	display: inline-block;
	width: 33%;
	vertical-align: middle;
}

#toggle {
	display: none;
}

#foodpics {
	width: 60%;
	margin: auto;
	background-color: #a7b3bf;
}

#foodpics img {
	width: 22%;
	display: inline-block;
	padding: 1.2%;
}

/*.menu {
	background: url(../images/woodbkg.jpg);
	background-size: cover;
}*/

#foodpics h1 {
	text-transform: uppercase;
	padding: 4% 10% 0;
	font-size: 5em;
	float: right;
}

#beerpics {
	width: 60%;
	margin: 15px auto;
	background-color: #a7b3bf;
}

#beerpics h1 {
	text-transform: uppercase;
	padding: 4% 10% 0;
	font-size: 5em;
	float: left;
}

#beerpics img {
	float: right;
	width: 24%;
	display: inline-block;
	padding: 1.2%
}

#locallogo {
	width: 49%;
	display: inline-block;
}

#locallogo img {
	width: 400px;
	margin: 25px 0;
}

#localmap {
	width: 49%;
	display: inline-block;
	text-align: right;
	/*padding: 5% 5% 1%;*/
	/*float: right;*/
}
#logo {
	width: 35%;
	margin: auto;
	padding: 40px;
}

#logo img {
	width: 100%;
}

#drinkmenu {
	background: url(../images/drink1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 60%;
	margin: 5px auto 20px;
	height: 850px;
}

#drinkmenu div {
	color: white;
    padding: 3.5%;
	/*background-color: rgba(167, 179, 191, 0.66);*/
}

#center {
	margin: auto;
	text-align: center;
}

@media only screen and (max-width: 1350px) {
	.menu {
		width: 60%;
	}
	.menuhead {
		width: 60%;
	}
	.outerbox {
		width: 40%;
	}
	#drinkmenu {
		width: 80%;
	}
	#localmap iframe {
		width: 450px;
	}
	#locallogo img {
		width: 300px;
		margin: 75px 0;
	}
	#foodpics {
		width: 80%;
	}
	#foodpics h1 {
		padding: 4% 4% 0;
	}
	#beerpics {
		width: 80%;
	}
}

@media only screen and (max-width: 900px) {
	body {
		font-size: 13px;
	}
	label {
		display: block;
		float:right;
		padding: 15px;
	}
	nav{
		display: none;
		position: static;
		clear:both;
		background-image: none;
	}
	section {
		margin-top: 47px;
	}
	hr {
		width: 85%;
	}
	.navlinks {
		display: block;	
	}
	.container {
		background-image: none;
    	/*margin-top: 23%;*/
   	 	background-color: #fff;
	}
	.nodesktop {
		display: block;
	}
	.wood {
		background: url(../images/woodmobile.jpg);
		background-size: cover;	
		background-repeat: no-repeat;
	}
	.menu {
		width: 80%;
	}
	.menuhead {
		width: 80%;
	}
	.local h5 {
		width: 80%;
		margin: 20px auto;
	}
	.outerbox {
		width: 60%;
	}
	.coll {
		display: block;
		width: 100%;
	}
	.instafeed iframe {
		height: auto;
	}
	.footinfo {
		margin: 30px;
	}
	.right {
		float: none;
	}
	#foodpics {
		width: 90%;
	}
	#beerpics {
		width: 90%;
	}
	#drinkmenu {
		width: 90%
	}
	#foodpics h1 {
		font-size: 4em;
	}
	#beerpics h1 {
		font-size: 4em;
	}
	#logo {
		padding: 80px;
	}
	#toggle:checked + .container nav {	
		display: block;
	}
	.mobile_toggle {
		display: block;
	}
	#headerlogo	{
		position: relative;
		height: 40px;
		margin: 3px 20px;
	}
	#locallogo {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	#localmap {
		display: block;
		width: 100%;
		text-align: center;
	}
	#localmap iframe {
		width: 80%;
	}
	#map {
		text-align: center;
	}
	#nomobile {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	#foodpics h1 {
		font-size:3em;
	}
	#beerpics h1 {
		font-size: 3em;
	}
}

@media only screen and (max-width: 450px) {
	body {
		font-size: 12px;
	}
	.menuhead {
		width: 90%;
	}
	.outerbox {
		width: 90%;
	}
	#localmap iframe {
		width: 100%;
		height: 250px;
	}
	#locallogo img {
		width: 200px;
	}
	#logo {
		padding: 100px 0;
		width: 65%;
	}
}